[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.36.7"
envrio_logger = {ref = "0.1.0", git = "https://github.com/Envrio-hub/envrio_logger.git"}

[dev-packages]

[requires]
[requires]
python_version = "3.12"
python_full_version = "3.12.8"